<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <meta charset="UTF-8" />
  <title>This is a login page</title>

</head>
<body>
<Script language="javascript">
    function getRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for(var i = 0; i < strs.length; i ++) {
                theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
</script>
<form method="post" action="/sso/login">
  <label for="username">username:</label><input id="username" name="username">
  <label for="password">username:</label><input id="password" name="password">
  <input type="submit" value="登录">
</form>

</body>
</html>